name: ESPHome Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install ESPHome
        run: pip install esphome

      - name: Run ESPHome Config Check
        run: |
          # Wir füllen die secrets.yaml mit Dummy-Werten für die Validierung
          cat <<EOF > secrets.yaml
          wifi_ssid: "dummy_ssid"
          wifi_password: "dummy_password"
          spoolman_ip: "127.0.0.1"
          EOF
          
          # Jetzt findet ESPHome alle Variablen und den WiFi-Block
          esphome config main.yaml
